header {
    height: 70px;
    width: 100%;
    color: white;
    border-bottom: solid 1px;
    border-bottom-color: #CCCCCC;
}

header img {
    display: flex;
    align-items: center;
    left: 20px;
}
