header {
    height: 70px;
    width: 100%;
    color: white;
    border-bottom: solid 1px;
    border-bottom-color: #CCCCCC;
}

header .logo {
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    height: 100%;
    margin-left: 20px;
}
